<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT"
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
  <div id="app">
    <a onClick="emitSocket">Alert Socket</a>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <!--<script src="/js/bundle.js"></script>-->
  <script>
    console.log('Socketing...');
    var socket = io();
    socket.emit('userchange', 'memento');
  </script>
</body>

</html>