@import './variables.scss';

.playerWrapper{
    position: relative;
    top: 0;
    left: 0;
    height: 55%;
    width: 100%;
    border-right: 1px solid $border-color-bold;
    border-top: 1px solid $border-color-bold;
    

    #playerInterface{

        h4{
            font-size: $font-size + 4;
            color: $secondary-accent;
        }

        .iconWrap{
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            margin-top: -52.5px;
            text-align: center;

            i{
                font-size: 25px;
                padding: 15px;
                border-radius: 50%;
                margin: 15px;
                background: $danger;
                color: white;

                &:first-child{
                    background: $success;
                }
            }

            span{
                display: block;
                font-size: $font-size;
                color: $color-link;
            }
        }
    }

}