// Color pallete
$primary: #673AB7;
$secondary: #2196F3;
$primary-accent: #4527A0;
$secondary-accent: #1565C0;
$success: #CDDC39;
$warning: #FFEB3B;
$danger: #FF5722;


//Font
$font-size: 14px;
$font-md-size: 20px;
$color: #9E9E9E;
$color-bold: #424242;
$color-link: #607D8B;

// Border
$border-color: rgba(0,0,0, 0.045);
$border-color-bold: rgba(0,0,0, 0.085);
$border-color-light: rgba(0,0,0, 0.025);